<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_id %><br />
    <%= link_to @subject.work.preferred_title, @subject.work %>
    <%= f.hidden_field :work_id %>
  </div>
  <div class="field">
    <%= f.label :subject %> (e.g. http://sc.next-l.jp/subjects/1)<br />
    <%= f.url_field :url, class: 'resource_url', placeholder: 'http://sc.next-l.jp/subjects/1' %>
    <%# link_to subject_label(@subject.url), @subject.url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
