<h1>Listing work_and_classifications</h1>

<table>
  <thead>
    <tr>
      <th>Work</th>
      <th>Classification</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_and_classifications.each do |work_and_classification| %>
      <tr>
        <td><%= work_and_classification.work_id %></td>
        <td><%= work_and_classification.classification_id %></td>
        <td><%= link_to 'Show', work_and_classification %></td>
        <td><%= link_to 'Edit', edit_work_and_classification_path(work_and_classification) %></td>
        <td><%= link_to 'Destroy', work_and_classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work and classification', new_work_and_classification_path %>
