<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @work_and_classification.work_id %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @work_and_classification.classification_id %>
</p>

<%= link_to 'Edit', edit_work_and_classification_path(@work_and_classification) %> |
<%= link_to 'Back', work_and_classifications_path %>
