<p id="notice"><%= notice %></p>

<p>
  <strong>Title proper:</strong>
  <%= @work.title_proper %>
</p>

<p>
  <strong>Url:</strong>
  <%= @work.url %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
