<%= form_for(@thema) do |f| %>
  <% if @thema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thema.errors.count, "error") %> prohibited this thema from being saved:</h2>

      <ul>
      <% @thema.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :node %><br>
    <%= f.text_field :node %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.text_field :term %>
  </div>
  <div class="field">
    <%= f.label :parent %><br>
    <%= f.hidden_field :parent_id %>
    <%= link_to @thema.parent.term, @thema.parent if @thema.parent %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
