<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.thema')) %></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong>Node:</strong>
  <%= @thema.node %>
</p>

<p>
  <strong>Nomen:</strong>
</p>
<ul>
  <% @thema.nomina.each do |nomen| %>
    <li><%= link_to nomen.name, nomen %></li>
  <% end %>
</ul>


<p>
  <strong>Category:</strong>
  <%= @thema.category %>
</p>

<p>
<strong>Parent:</strong>
<%= link_to @thema.node, @thema.parent if @thema.parent %>
</p>

<p>
  <strong>Child:</strong>
</p>
<ul>
  <% @thema.children.order(:category).each do |child| %>
    <li>
    <% if child.term %>
      <%= link_to "#{child.category} (#{child.term})", child %>
      <%= child.nomina.pluck(:name).join(' ') %>
    <% else %>
      <%= link_to "#{child.node}", child %>
      (<%= child.nomina.pluck(:name).join(' ') %>)
    <% end %>
    </li>
  <% end %>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.edit'), edit_thema_path(@thema) %></li>
    <li><%= link_to t('page.back'), themata_path %></li>
    <li><%= link_to t('page.add_child'), new_thema_path(parent_url: thema_url(@thema)) %></li>
    <li><%= link_to 'WEシステムを検索', works_url(
      host: URI.parse(Rails.application.config_for(:enju)["we_url"]).host,
      port: URI.parse(Rails.application.config_for(:enju)["we_url"]).port,
      protocol: URI.parse(Rails.application.config_for(:enju)["we_url"]).scheme,
      enju_subject_url: thema_url(@thema),
      query: "subject_url_sm:#{thema_url(@thema)}") %></li>
  </ul>
</div>
