<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @embody_type.name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @embody_type.display_name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @embody_type.note %>
</p>

<p>
  <strong>Position:</strong>
  <%= @embody_type.position %>
</p>

<%= link_to 'Edit', edit_embody_type_path(@embody_type) %> |
<%= link_to 'Back', embody_types_path %>
