<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @parent_work %>
    <div class="field">
      <%= f.label :parent %><br />
      <%= link_to @parent_work.preferred_title, @parent_work %>
      <%= f.hidden_field :parent_id %>
    </div>
  <% end %>

  <% if @work.work_url %>
  <div class="field">
    <%= f.label :url %><br />
    <%= params[:work_url] %>
    <%= f.hidden_field :work_url %>
  </div>
  <% end %>
  <% if @work.manifestation_url %>
  <div class="field">
    <%= f.label :url %><br />
    <%= params[:manifestation_url] %>
    <%= f.hidden_field :manifestation_url %>
    <%= f.hidden_field :manifestation_id %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :preferred_title_for_the_work %><br />
    <%= f.text_field :preferred_title %>
  </div>
  <div class="field">
    <%= f.label :variant_title_for_the_work %><br />
    <%= f.text_field :variant_title %>
  </div>
  <!--
  <div class="field">
    <%= f.label :form_of_work %><br />
    <%= f.text_field :form_of_work %>
  </div>
  -->
  <div class="field">
    <%= f.label :date_of_work %><br />
    <%= f.text_field :date_of_work %>
  </div>
  <!--
  <div class="field">
    <%= f.label :medium_of_performance %><br />
    <%= f.text_field :medium_of_performance %>
  </div>
  <div class="field">
    <%= f.label :numeric_designation %><br />
    <%= f.text_field :numeric_designation %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :signatory_for_treaty %><br />
    <%= f.text_field :signatory_for_treaty %>
  </div>
  <div class="field">
    <%= f.label :authorized_access_point %><br />
    <%= f.text_field :authorized_access_point %>
  </div>
  <div class="field">
    <%= f.label :variant_access_point %><br />
    <%= f.text_field :variant_access_point %>
  </div>
  <div class="field">
    <%= f.label :status_of_identification %><br />
    <%= f.text_field :status_of_identification %>
  </div>
  <div class="field">
    <%= f.label :source_consulted %><br />
    <%= f.text_field :source_consulted %>
  </div>
  <div class="field">
    <%= f.label :intended_audience %><br />
    <%= f.text_area :intended_audience %>
  </div>
  <div class="field">
    <%= f.label :cataloguers_note %><br />
    <%= f.text_area :cataloguers_note %>
  </div>
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
