<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.nomen')) %></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nomen.name %>
</p>

<ul>
  <% @nomen.children.where(scheme: nil).each do |child| %>
    <li><%= child.name %></li>
  <% end %>
</ul>

<ul>
  <% if @nomen.parent %>
    <li>
      <%= link_to @nomen.parent.name, @nomen.parent %>
      <% @nomen.parent.children.where(scheme: nil).each do |parent_child| %>
        <%= parent_child.name %>
      <% end %>
    <ul>
  <% end %>

  <% @nomen.children.where(scheme: 'ndc9').order(:name).each do |child| %>
    <li>
      <%= link_to child.name, child %>
      <% child.children.where(scheme: nil).each do |grand_child| %>
        <%= grand_child.name %>
      <% end %>
    </li>
  <% end %>
  <% if @nomen.parent %>
    </ul>
  <% end %>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.edit'), edit_nomen_path(@nomen) %></li>
    <li><%= link_to t('page.back'), nomina_path %></li>
  </ul>
</div>
