<div id="content_detail" class="ui-corner-all">
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <b>Work:</b>
  <%= link_to @create.work.preferred_title, @create.work %>
</p>

<p>
  <b>Agent:</b>
  <%= link_to @create.agent.full_name, @create.agent %>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('enju.edit'), edit_create_path(@create) %></li>
    <li><%= link_to t('enju.back'), creates_path %></li>
  </ul>
</div>
