<%= form_for(@expression) do |f| %>
  <% if @expression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expression.errors.count, "error") %> prohibited this expression from being saved:</h2>

      <ul>
      <% @expression.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work %><br />
    <%= link_to @expression.work.preferred_title, @expression.work %>
    <%= f.hidden_field :work_id %>
  </div>

  <div class="field">
    <%= f.label :manifestation_url %><br />
    <%= link_to "http://ci.nii.ac.jp/ncid/BA32243527", "http://ci.nii.ac.jp/ncid/BA32243527" %>

    <%= link_to @expression.manifestation_url, @expression.manifestation_url if @expression.manifestation_url %>
    <%= f.hidden_field :manifestation_id %>
    <%= f.hidden_field :manifestation_url %>
  </div>
  <div class="field">
    <%= f.label :preferred_title %><br />
    <%= f.text_field :preferred_title %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :content_type_id %><br />
    <%= f.select(:content_type_id, @content_types.map{|c| [c.name, c.id]}) %>
  </div>
  <!--
  <div class="field">
    <%= f.label :date_of_expression %><br />
    <%= f.text_field :date_of_expression %>
  </div>
  <div class="field">
    <%= f.label :other_distinguishing_characteristic %><br />
    <%= f.text_field :other_distinguishing_characteristic %>
  </div>
  <div class="field">
    <%= f.label :horizontal_scale_of_cartographic_content %><br />
    <%= f.text_field :horizontal_scale_of_cartographic_content %>
  </div>
  <div class="field">
    <%= f.label :vertical_scale_of_cartographic_content %><br />
    <%= f.text_field :vertical_scale_of_cartographic_content %>
  </div>
  <div class="field">
    <%= f.label :authorized_access_point %><br />
    <%= f.text_field :authorized_access_point %>
  </div>
  <div class="field">
    <%= f.label :variant_access_point %><br />
    <%= f.text_field :variant_access_point %>
  </div>
  <div class="field">
    <%= f.label :status_of_identification %><br />
    <%= f.text_field :status_of_identification %>
  </div>
  <div class="field">
    <%= f.label :source_consulted %><br />
    <%= f.text_field :source_consulted %>
  </div>
  <div class="field">
    <%= f.label :cataloguers_note %><br />
    <%= f.text_area :cataloguers_note %>
  </div>
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
