<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_area :full_name %>
  </div>
  <div class="field">
    <%= f.label :agent_type_id %><br />
    <%= f.number_field :agent_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
