<div id="content_detail" class="ui-corner-all">
<h1 class="title">Listing agents</h1>

<div id="content_list">
<table class="index">
  <tr>
    <th>Full name</th>
    <th>Agent type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= agent.full_name %></td>
    <td><%= agent.agent_type_id %></td>
    <td><%= link_to t('enju.show'), agent %></td>
    <td><%= link_to t('enju.edit'), edit_agent_path(agent) %></td>
    <td><%= link_to t('enju.destroy'), agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= paginate(@agents) %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to 'New Agent', new_agent_path %></li>
  </ul>
</div>
