<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @work_and_thema.work_id %>
</p>

<p>
  <strong>Thema:</strong>
  <%= @work_and_thema.thema_id %>
</p>

<%= link_to 'Edit', edit_work_and_thema_path(@work_and_thema) %> |
<%= link_to 'Back', work_and_themata_path %>
