<p id="notice"><%= notice %></p>

<h1>Listing Nomen Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Child</th>
      <th>Nomen relationship</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nomen_relationships.each do |nomen_relationship| %>
      <tr>
        <td><%= nomen_relationship.parent_id %></td>
        <td><%= nomen_relationship.child_id %></td>
        <td><%= nomen_relationship.nomen_relationship_id %></td>
        <td><%= nomen_relationship.position %></td>
        <td><%= link_to 'Show', nomen_relationship %></td>
        <td><%= link_to 'Edit', edit_nomen_relationship_path(nomen_relationship) %></td>
        <td><%= link_to 'Destroy', nomen_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nomen relationship', new_nomen_relationship_path %>
