<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @nomen_relationship.parent_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @nomen_relationship.child_id %>
</p>

<p>
  <strong>Nomen relationship:</strong>
  <%= @nomen_relationship.nomen_relationship_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @nomen_relationship.position %>
</p>

<%= link_to 'Edit', edit_nomen_relationship_path(@nomen_relationship) %> |
<%= link_to 'Back', nomen_relationships_path %>
