<p id="notice"><%= notice %></p>

<h1>Listing Work Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Child</th>
      <th>Work relationship type</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_relationships.each do |work_relationship| %>
      <tr>
        <td><%= work_relationship.parent_id %></td>
        <td><%= work_relationship.child_id %></td>
        <td><%= work_relationship.work_relationship_type_id %></td>
        <td><%= work_relationship.note %></td>
        <td><%= link_to 'Show', work_relationship %></td>
        <td><%= link_to 'Edit', edit_work_relationship_path(work_relationship) %></td>
        <td><%= link_to 'Destroy', work_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work relationship', new_work_relationship_path %>
