<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content_type.name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @content_type.display_name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @content_type.note %>
</p>

<p>
  <strong>Position:</strong>
  <%= @content_type.position %>
</p>

<%= link_to 'Edit', edit_content_type_path(@content_type) %> |
<%= link_to 'Back', content_types_path %>
