<p id="notice"><%= notice %></p>

<h1>Listing Work Relationship Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display name</th>
      <th>Note</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_relationship_types.each do |work_relationship_type| %>
      <tr>
        <td><%= work_relationship_type.name %></td>
        <td><%= work_relationship_type.display_name %></td>
        <td><%= work_relationship_type.note %></td>
        <td><%= work_relationship_type.position %></td>
        <td><%= link_to 'Show', work_relationship_type %></td>
        <td><%= link_to 'Edit', edit_work_relationship_type_path(work_relationship_type) %></td>
        <td><%= link_to 'Destroy', work_relationship_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work relationship type', new_work_relationship_type_path %>
